@model OnlineCommercialAutomation.Models.Classes.Category
@{
    ViewBag.Title = "GetCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container-fluid">
    <div class="row">

        <div class="col-md-6">

            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title"> Kategori Güncelle</h3>
                </div>

                @using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
                {

                    <div class="card-body">
                        <div class="form-group">


                            <label>Kategori Adı</label>
                            @Html.TextBoxFor(x => x.CategoryName ,new  { @class="form-control"})
                            @Html.HiddenFor(x => x.CategoryId, new { @class = "form-control" })


                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary">Güncelle</button>
                        </div>


                    </div>
              

                }


            </div>
        </div>

    </div>

</div>
